@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to Backflip Academy</h1>

<div>
    Welcome to Backflip Academy, your go-to destination for mastering the backflip. <br />
    Our expert instructors provide step-by-step guidance to help you achieve this impressive skill safely and confidently.
    <br /><br />
    <div style="display: block; margin: auto;">
        <img src="~/img/cliffbackflip.jpeg" height="200"/>
        <img src="~/img/dogbackflip.gif" height="300"/>
        <img src="~/img/churchflip.jpeg" height="200"/>
    </div>

    <h3>
        How Backflip Academy Started
    </h3>
    <p>
        Backflip Academy was founded by Nick Thomas, a former competitive gymnast and member of the BYU dunk team, with a simple mission: to teach anyone how to do a backflip. Recognizing the need for a space for individuals to learn this skill, Nick established Backflip Academy at Brigham Young University (BYU). We firmly believe that ANYONE can learn how to do a backflip, and our academy provides step-by-step instruction for beginners who want to master this exhilarating move. <br /><br />
        Our approach is straightforward: We will teach you how to do a backflip safely and confidently. Whether you're a complete novice or have some experience, Backflip Academy offers a supportive environment where you can achieve your flipping goals. So quit looking dumb at dance parties. Join us and take the first step towards mastering the backflip.
    </p>
    <br /><br /><br />
    <a asp-controller="Home" asp-action="Schedule">Schedule a session here</a>
</div>